.container {
    border: 1px solid red;
    max-width: 700px;
    margin: auto;
}
.grid{
    padding: 20px;
}
.grid-item{
    width: 200px;
    margin-bottom: 20px;
}

.grid-item img{
    width: 100%;
}